.bc-image-slider {

  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;

  .image-slide {

    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%;
    background-size: cover;

    &.ng-hide-add, &.ng-hide-remove {

      -webkit-transition: all linear 0.5s;
      -moz-transition: all linear 0.5s;
      -o-transition: all linear 0.5s;
      transition: all linear 0.5s;
      display: block !important;

    }

    &.ng-hide-add {

      opacity: 1;

      &.ng-hide-add-active {

        opacity: 0;

      }

    }

    &.ng-hide-remove {

      opacity: 0;

      &.ng-hide-remove-active {

        opacity: 1;

      }

    }

  }

  .left-arrow {

    position: absolute;
    top: 47%;
    left: 10px;

    i {

      color: #1a1a1a;
      background-color: white;
      border-radius: 50%;

    }

  }

  .right-arrow {

    position: absolute;
    top: 47%;
    right: 10px;

    i {

      color: #1a1a1a;
      background-color: white;
      border-radius: 50%;

    }

  }

}
