.bc-image-slider {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%; }
  .bc-image-slider .image-slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%;
    background-size: cover; }
    .bc-image-slider .image-slide.ng-hide-add, .bc-image-slider .image-slide.ng-hide-remove {
      -webkit-transition: all linear 0.5s;
      -moz-transition: all linear 0.5s;
      -o-transition: all linear 0.5s;
      transition: all linear 0.5s;
      display: block !important; }
    .bc-image-slider .image-slide.ng-hide-add {
      opacity: 1; }
      .bc-image-slider .image-slide.ng-hide-add.ng-hide-add-active {
        opacity: 0; }
    .bc-image-slider .image-slide.ng-hide-remove {
      opacity: 0; }
      .bc-image-slider .image-slide.ng-hide-remove.ng-hide-remove-active {
        opacity: 1; }
  .bc-image-slider .left-arrow {
    position: absolute;
    top: 47%;
    left: 10px; }
    .bc-image-slider .left-arrow i {
      color: #1a1a1a;
      background-color: white;
      border-radius: 50%; }
  .bc-image-slider .right-arrow {
    position: absolute;
    top: 47%;
    right: 10px; }
    .bc-image-slider .right-arrow i {
      color: #1a1a1a;
      background-color: white;
      border-radius: 50%; }

/*# sourceMappingURL=bc-image-slider.css.map */
